nav{
    background-color: var(--grey-300);
    padding: 10px 0px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.main_menu_links,
.secondary_menu{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.main_menu_link a{
    transition: all 0.3s ease-in-out;
}

.main_menu_link a:hover{
    color: green;
}

.search_container,
.bag_container{
    cursor: pointer;
}

.bag_container,
.cart_container{
    position: relative;
}

.cart_count{
    position: absolute;
    top: -8px;
    right: -16px;
    font-size: 0.6rem;
    background-color: var(--text-green);
    color: #fff;
    padding: 2px 8px;
    border-radius: 50%;
}

.user_container a{
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
}

.mobile_menu{display: none;}
.hidden{height: 0px; transition: all 0.8s ease-in;}

@media screen and (max-width:768px) {

    .navbar{gap: 30px; justify-content: center;}
    .nav_menu_items{
        display: none;
    }

    .mobile_menu{
        display: flex;
        justify-content: space-between;
        padding: 8px 20px;
        margin-top: 12px;
        width: 100%;
        background-color: #0c1923;
        color: #fff;
        flex-wrap: wrap;
    }

    .mobile_menu_links{
        width: 100%;
        margin-top: 10px;
        overflow: hidden;
    }

    .mobile_menu_links:has(.hidden){
        margin-top: 0px;
    }
}

@media screen and (max-width: 640px){
    .cart_container{
        position: static;
    }
}